# Pandas_1st Part(Codebasics)

In [47]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/F6kmIpWWEdU?si=ybFtbAij58kPorGX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

**Check above video for Pandas 1st Part**

In [1]:
#here I used dictionary method to implement datframe u can do it using by readcsv method also
import pandas as pd
df=pd.DataFrame(
    {
        'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'], 
        'temperature': [32,35,28,24,32,31],
        'windspeed': [6,7,2,7,4,2], 
        'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
    }
)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [3]:
df.loc['1/1/2017']

KeyError: '1/1/2017'

In [5]:
df.shape

(6, 4)

In [10]:
row,col=df.shape
#prints the shape of table like rows*columns

In [11]:
row #prints no of rows present in table

6

In [12]:
col #prints no of columns present in table

4

In [13]:
df.head()
#prints first part of dataframe

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [14]:
df.head(1)  #here inside we can prescribe no of rows to be printed from first

        day  temperature  windspeed event
0  1/1/2017           32          6  Rain

In [15]:
df.tail()
#prints last part of dataframe here its actually a dataset of 6 it is not showing 0 if it is larger data set it wont be able to all other rows up

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [16]:
df.tail(1) #here inside we can prescribe no of rows to be printed from last

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

In [17]:
#slicing i.e printing data uptill a particular row or (a particular row to particular row)
df[2:4]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow

In [18]:
df[:1] #prints from last to first here i prescribed last 1st data to be printed

        day  temperature  windspeed event
0  1/1/2017           32          6  Rain

In [19]:
df[1:] #neglects 0 as i asked from first

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [20]:
df[:]#prints the whole dataset as I didn't asked to slice

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [21]:
df[0:] #also same as previous step 
#df[:0] also gives the same

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [22]:
df.columns #prints out columns i.e day,temp,wspm,event

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [23]:
df.day #if individual object to be printed (df."prescribe col name" and hit shift+enter)

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [24]:
#here as we created dataframe using python dictionaries we can use that property which we wrote in dictionary
df['event'] #so why we are using this instead of df.event is sometimes my column name is seperated by spaces so we cabn use this instead of that

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [25]:
#as we accesed rows uptill now,we are now able to handle rows and now columns
df[["event","day"]] #mutli-accesible we cant do the same with above step

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

**SOME OPERATIONS ON DATAFRAME AND CONDITIONAL OPERATIONS**

In [26]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [27]:
df.temperature

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [28]:
#if i want to print the max temperature present we can use max function 
df.temperature.max()

35

In [29]:
#if i want average temperature 
df.temperature.mean()

30.333333333333332

In [30]:
# for minumum use their abbreviations for them
df.temperature.min()

24

In [31]:
#for standard deviation 
df.temperature.std()

3.8297084310253524

In [32]:
#to print the statistics at one go we can do
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [33]:
#we can conditionally even do our operations to unveil our answers
df[df.temperature>30] #prints out data where temperature is greater than 30 degrees

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [34]:
df[['day','temperature','windspeed']][df.temperature==df.temperature.max()] #here it is printing that particular day,windspeed where my temperature is maximum
#precaution dont use '[]' for knowing 2 datas at a time it will give an error|

        day  temperature  windspeed
1  1/2/2017           35          7

FOR MORE FUNCTIONS REFER TO THIS PAGE <br>
<a href="https://pandas.pydata.org/docs/reference/io.html#">Click this to view pandas documentation</a>

**INDEXING**

In [35]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [37]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [40]:
df.set_index('day') 
#here what actually happened is we are setting index to day we can observe changes in above to now we can access the row present at particular date easily 
#but this dont get affected in actually dataframe 
#for it to be happened we have place 'inplace=True'

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [45]:
df.set_index('day',inplace=True) #now it succesfully implemented and made to changes to dataframe where its index is day 
#we can observe changes below

In [47]:
df #this is modified by above command

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [50]:
df.loc['1/2/2017'] #prescribes about particular(it tells about what actually row has)

temperature       35
windspeed          7
event          Sunny
Name: 1/2/2017, dtype: object

In [51]:
df.reset_index(inplace=True)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [52]:
df.set_index('event',inplace=True)

In [56]:
#here inplace=True helps to bring changes if inplace=False then changes wont be taken place

In [54]:
df
#here now event is set as index

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [55]:
#resetting the dataframe
df.reset_index(inplace=True)
df

   event       day  temperature  windspeed
0   Rain  1/1/2017           32          6
1  Sunny  1/2/2017           35          7
2   Snow  1/3/2017           28          2
3   Snow  1/4/2017           24          7
4   Rain  1/5/2017           32          4
5  Sunny  1/6/2017           31          2