# Pandas 2nd Part (DIFFERENT WAYS OF CREATING A DATAFRAME)

In [1]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/3k0HbcUGErE?si=fwvluDtgFnxpc5mf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('weather.csv') #using read_csv to read a csv file for creating dataframe
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [4]:
df2=pd.read_excel("weather.xlsx","Sheet1") #using read_excel to read a excel file for creating dataframe
df2

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-02-01           35          7  Sunny
2 2017-03-01           28          2   Snow

In [8]:
df3=pd.DataFrame({
     'day': ['1/1/2017', '1/2/2017', '1/3/2017'], 
        'temperature': [32,35,28],
        'windspeed': [6,7,2], 
        'event': ['Rain', 'Sunny', 'Snow']
})
df3
#using dictionaries of python we can create a dataframe

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [12]:
df4=pd.DataFrame([
    ('1/1/2017',32,6, 'Rain'),
    ('1/2/2017',35,7, 'Sunny'),
    ('1/3/2017',28,2, 'Snow'),
],
    columns=["day","temperature","windspeed","event"]
)
df4
#here implementing a dataframe using list of tuples

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [14]:
#implementing a dataframe using list of dictionaries
df5=pd.DataFrame([
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'}, 
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
]
)
df5

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

**many other ways are there to read to a file using the given below link we can study about documentation**

**<span style=" font-family: 'Montserrat', sans-serif; ">Click the Below Given Link to find about type of files which are readable and their reading methods</span>**

<a href="https://pandas.pydata.org/docs/user_guide/io.html">LINK</a>